<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp stuff</title>
    <meta name="description" content="Something I'm doing because of Free Code Camp">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        iamedfig and this is my Timestamp Microservice!
      </h1>
    </header>
<!--
    <main>
      <p class="bold">Oh hi,</p>
      <p>Tell me your hopes and dreams:</p>
      <form>
        <input type="text" maxlength="100" placeholder="Dreams!">
        <button type="submit">Submit</button>
      </form>
      <section class="dreams">
        <ul id="dreams">
        </ul>
      </section>
    </main>
-->
    <h2>
      Usage
    </h2>
    <p>
      Feed me Unixtime and I'll give you a response.<br/>
      Feed me a natural time and I'll give you a response.<br/>
      Feed me junk that I don't know and I'll give you some null-stuff<br/><br/>
      Example:<br/>
    </p>
    <span class="bold">https://fcc-timestamp-ef-v2.glitch.me/1505794281</span>
    <p class="code">
      {"unixtime": 1505794281, "normietime": "September 19, 2017"}
    </p>
    <p>
      <span class="bold">https://fcc-timestamp-ef-v2.glitch.me/Sept 19, 2017</span>
    </p>
    <p class="code">
      {"unixtime": 1505779200, "normietime": "September 19, 2017"}
    </p>
    <p>
      <span class="bold">https://fcc-timestamp-ef-v2.glitch.me/qwerty</span>
    </p>
    <p class="code">
      {"unixtime": null, "normietime": null}
    </p>    
    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
